extends layout

block content
  h1= title
  - const allresults = results
  .container-fluid
    .row
      each result in allresults
        .col-sm-2
          p Model: #{result.model}
          p Purpose: #{result.purpose}
          p Flight: #{result.flight_range}